<footer class="footer">
	<div class="footer-inner">
		<div class="container">
			<div class="row">

				<div class="col-sm-4 footer-col">
					<h4>Adres</h4>
					<p>
						Mersin / Toroslar<br>
						Türkiye
					</p>
				</div>

				<div class="col-sm-4 footer-col center">
					<h4>Sosyal</h4>
					<div class="footer-social">
						<a href="https://www.instagram.com/ilyas.sonmezz/"><i class="fa-brands fa-instagram"></i></a>
						<a href="https://www.linkedin.com/in/ilyas-sönmez-b29b97327/"><i class="fa-brands fa-linkedin"></i></a>
						<a href="https://github.com/ilyassnmz"><i class="fa-brands fa-github"></i></a>
					</div>
				</div>

				<div class="col-sm-4 footer-col">
					<h4>İletişim</h4>
					<p>
						<b>Tel:</b> +90 555 141 33 51<br>
						<b>Mail:</b> lunap.ilyas@gmail.com
					</p>
				</div>

			</div>
		</div>
	</div>

	<div class="footer-bottom">
		© 2026 İlyas Sönmez — Tüm Hakları Saklıdır.
	</div>
</footer>
