<section id="section5" class="education-section">
	<div class="container">

		<h2 class="section-title">Eğitim Hayatım</h2>

		<div class="education-timeline">

			<div class="edu-item">
				<div class="edu-dot"></div>
				<div class="edu-card">
					<span class="edu-year">2024 – 2026</span>
					<h4>Bilgisayar Programcılığı</h4>
					<span class="edu-school">Atatürk Üniversitesi</span>
				</div>
			</div>

			<div class="edu-item">
				<div class="edu-dot"></div>
				<div class="edu-card">
					<span class="edu-year">2026</span>
					<h4>C# ile Programlamaya Giriş</h4>
					<span class="edu-school">AkademiQ.AI Business School</span>
				</div>
			</div>

		</div>

		<h2 class="section-title mt-80">Hobilerim & İlgi Alanlarım</h2>

		<div class="row hobbies">

			<div class="col-sm-3 col-xs-6">
				<div class="hobby-card">
					<i class="ion-easel"></i>
					<span>Web Araştırması</span>
				</div>
			</div>

			<div class="col-sm-3 col-xs-6">
				<div class="hobby-card">
					<i class="ion-plane"></i>
					<span>Seyahat Etmek</span>
				</div>
			</div>

			<div class="col-sm-3 col-xs-6">
				<div class="hobby-card">
					<i class="ion-ios-bookmarks-outline"></i>
					<span>Kitap Okumak</span>
				</div>
			</div>

			<div class="col-sm-3 col-xs-6">
				<div class="hobby-card">
					<i class="ion-ios-musical-notes"></i>
					<span>Müzik Dinlemek</span>
				</div>
			</div>

		</div>

	</div>
</section>
